<<<<<<< HEAD
@font-face{
  font-family: 'Nimbus Sans';
  src: url("Assets/Fonts/nimbus-sans-extd.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Nimbus Sans Bold';
  src: url("Assets/Fonts/nimbus-sans-extd-black.otf") format("truetype");
  font-weight: bold;
  font-style: bold;
}

/* Page background */
body {
  background-color: #91ccff;
}

/* Main text color */
body, p, li, td, th {
  color: #333333;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  color: #222222;
  font-family: 'Nimbus Sans Bold';
}

/* Body font */
body, p, li {
  font-family: 'Nimbus Sans';
}

.divide {
    display: flex;
    align-items: center; 
}

.divide a {
    margin-left: auto; 
    background-color: #07595c;
    border-color: #07595c;
    padding: 5px;
    border-style: solid;
    border-radius: 10px;
    text-decoration:none;
    color:white;
    cursor:pointer;
}

.divide a:hover{
    background-color: #022c2e;
    border-color: #022c2e;
    color:white;
    transition:0.3s;
=======
@font-face{
  font-family: 'Nimbus Sans';
  src: url("Assets/Fonts/nimbus-sans-extd.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Nimbus Sans Bold';
  src: url("Assets/Fonts/nimbus-sans-extd-black.otf") format("truetype");
  font-weight: bold;
  font-style: bold;
}

/* Page background */
body {
  background-color: #91ccff;
}

/* Main text color */
body, p, li, td, th {
  color: #333333;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  color: #222222;
  font-family: 'Nimbus Sans Bold';
}

/* Body font */
body, p, li {
  font-family: 'Nimbus Sans';
}

.divide {
    display: flex;
    align-items: center; 
}

.divide a {
    margin-left: auto; 
    background-color: #07595c;
    border-color: #07595c;
    padding: 5px;
    border-style: solid;
    border-radius: 10px;
    text-decoration:none;
    color:white;
    cursor:pointer;
}

.divide a:hover{
    background-color: #022c2e;
    border-color: #022c2e;
    color:white;
    transition:0.3s;
>>>>>>> 724e33d1a71f2635fd9393cc2491a06cdb819709
}